*{
    box-sizing: border-box;
    padding : 0;
    margin: 0;
    background-color: black;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0,9), url(fondo.web));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    gap: 40px;
}
img{
    width: 120px;
    border-radius: 20px;
}

.delante, .atras{
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 120px;
    height: 150px;
}

.delante{
    z-index: 2;
    transition: all 0.4s linear;
}

.atras{
    transition: all 0.4s linear;
    transform: rotateY(180deg);

}
.tarjeta{
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    width: 120px;
    height: 150px;
    border-radius: 20px;
}
 
.tarjeta:hover .delante{
    transform: rotateY(180deg);
    cursor: pointer;
}

.tarjeta:hover .atras{
    transform: rotateY(360deg);
    cursor: pointer;
}